<!---Presentación-->
<section class="presentacion mt-5">
  <div class="container">
    <h3>Acerca de mí</h3>
    <div class="row">
      <div class="col-sm-3" style="position: relative; left: 0; top: 0;">
        <img src="assets/img/perfil2.jpg" alt="foto de perfil" class="rounded-circle img-fluid perfil">
      </div>
      <div class="col-sm-9 mt-5">
        <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsam? Accusantium</h6>
      </div>
    </div>
  </div>
</section>