<!-- MODAL New -->
<div class="modal fade" id="newSklModal" tabindex="-1" aria-labelledby="newSklModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="newSklModalLabel">Nueva Habilidad</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="clean()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onNew()" novalidate #f="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Habilidad" formControlName="name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="percentage">Nivel (en %)</label>
                        <input type="text" class="form-control" id="percentage" formControlName="percentage" required>
                    </div>
                    <div class="btn-group float-end" style="margin-top: 15px;">
                        <button type="reset" class="btn btn-light">
                            Limpiar
                        </button>
                        <button type="submit" class="btn btn-dark">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>