<!--Edit Skills-->
<div class="row">
    <div class="container-fluid text-box col-md-10">
        <hr class="col-md-12">
        <div class="text">
            <h2>Editar Habilidad</h2>
            <form class="col-md-4" [formGroup]="form" (ngSubmit)="onSave($event)" novalidate #f="ngForm">
                <input type="hidden" class="form-control" id="skillId" formControlName="id">
                <div>
                    <label for="name">Habilidad</label>
                    <input type="text" class="form-control" id="name" formControlName="name" required>
                </div>
                <div>
                    <label for="percentage">Nivel (en %)</label>
                    <input type="text" class="form-control" id="percentage" formControlName="percentage" required>
                </div>
                <div class="btn-group float-end" style="margin-top: 15px;">
                    <button type="button" class="btn btn-light" routerLink="">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-dark">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>