/*PALETA
selva: 004921
naranja-agria: FF4F00
desierto: FB8D22
cielito-lindo: FFC2AD
chela: FFF0E0
bee: #F2D653*/

/*CSS GENERAL
section {
    background-color: #F2D653;
}

.container {
    padding-left: 50px;
    padding-bottom: 80px;
    padding-right: 50px;
}

h2 {
    font-family: 'Libre Baskerville', Georgia, serif;
    text-align: center;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 20px;

}

p {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    color: #37424A;
    width: auto;

}
*/

/*CSS ALTERNATIVO
h3 {
    font-family: 'Libre Baskerville', Georgia, serif;
    font-size: 3em !important;
    font-style: italic;
    color: #37424A;
    text-transform: lowercase;
    vertical-align: top;
    text-align: right;
}

h3 {
    font: 5em 'Yeseva One', Georgia, serif;
    width: 70px !important;
    letter-spacing: -0.04em !important;
    line-height: 1.1em !important;
}*/