.row {
    background-color: #F2D653;
    margin: auto;
}

.text-box {
    padding: 0px 0 80px 0;
    margin: 0 auto;
}

hr {
    border-top: 1px dashed #37424A;
    border-bottom: none;
    margin-bottom: 20px;
}

.text {
    display: flex;
}


h2 {
    font: 5em 'Yeseva One', Georgia, serif;
    color: #37424A;
    text-transform: lowercase;
    text-align: right;
    letter-spacing: -0.04em;
    line-height: 1.1em;
    vertical-align: top;
}

.list-group-item {
    margin: 0 0 0 25px;
    padding-left: 0;
}

p,
h3 {
    color: #37424A;
    font: 'Merriweather Sans', Helvetica, sans-serif;
}

h3 {
    font-size: 1.1em;
    font-weight: 600;
}

h4 {
    margin-bottom: 0.25rem;
    font: 300 0.8em/1.625em 'Merriweather Sans', Helvetica, sans-serif;
}

p {
    text-align: justify;
    font: 300 0.8em/1.625em 'Merriweather Sans', Helvetica, sans-serif;
}